@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing : border-box;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}




header {
    display : flex;
    justify-content: space-between;
    align-items : center; 
    width : 90%;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color : #33332D;
    color :  #f8f9fa;
}

header .logo{
    width : 5%;
}

header .logo img{
    width : 100%;
}

header nav{
    width: 50%;
}

header nav ul{
    display : flex;
    flex-wrap : nowrap;
    justify-content: space-between;
    width: 100%;
}

header nav ul li{
    list-style : none;
    width: calc(100% / 4);

    text-align: center;
}

header nav ul li:hover{
    background-color : white;
    cursor: pointer;
}



header nav ul li a{
    text-decoration : none;
    font-size : 25px;
    letter-spacing: 2.5px;
    color :  #f8f9fa;
    display : block;
    width: 100%;
}

header nav ul .h {
    font-size : 25px;
    color :  #f8f9fa;
    letter-spacing: 2.5px;
}

header nav ul li a:hover,
header nav ul .h:hover{
    color :  black;
}

#year {
    width: 90%;
    margin: auto;
}

#year ul li{
    border-bottom: solid 2px rgb(163, 232, 148);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.container {
    background-color: #212121;
    padding : 100px 0px;
}

#year ul li a{
    color : white;
    font-size : 3rem;
}

#year ul li a{
    color : white;
    font-size : 2rem;
    text-decoration: none;
}

@media (max-width: 1024px) {

    header{
        justify-content: space-between;
    }

    header .logo{
        width : 10%;
    }
    header nav{
        width : 70%;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    header{
        justify-content: center;
    }

    header .logo{
        width : 17%;
    }
}


@media (max-width: 450px) {
    nav {
        display: none;
    }

    header{
        justify-content: center;
    }

    header .logo{
        width : 25%;
    }

    .container {
        background-color: #212121;
        padding : 50px 0px;
    }

    #year {
        width: 95%;
        margin-right: 5%;
    }

    #year ul li a{
        color : white;
        font-size : 1.3rem;
    }
}